@import './resets';
@import './variables';

@function weight($weight-name){
    @return map-get($font-weight, $weight-name )
};

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
};

@mixin theme($ligth-theme : true){
    @if $ligth-theme {
        background-color: lighten($primary-color , 100%);
        color: darken($text-color, 100%);
    }
};

@mixin mobile{
    @media(max-width: $mobile){
        @content;
    }
}

body{
    background-color: $primary-color; 
    color : $text-color;
}

.main {  
    @include flexCenter(row);
    width: 80%;
    gap: 20px;
    margin: 0 auto;

    #{&}__paragraph{
        font-weight: weight( bold );

        &:hover{
            color: pink;
        }
    }

    @include mobile{
        flex-direction: column;
    }
}

.light{
    @include theme($ligth-theme : true)
}